.txt-dark-12 {
    font-size: 12px;
    color: #404040;
}

.txt-dark-14 {
    font-size: 14px;
    color: #404040;
}

.txt-dark-16 {
    font-size: 16px;
    color: #404040;
}

.txt-dark-18 {
    font-size: 18px;
    color: #404040;
}

.txt-dark-20 {
    font-size: 20px;
    color: #404040;
}

.txt-dark-22 {
    font-size: 22px;
    color: #404040;
}

.txt-dark-24 {
    font-size: 24px;
    color: #404040;
}

.txt-white-12 {
    font-size: 12px;
    color: #ffffff;
}

.txt-white-14 {
    font-size: 14px;
    color: #ffffff;
}

.txt-white-16 {
    font-size: 16px;
    color: #ffffff;
}

.txt-white-18 {
    font-size: 18px;
    color: #ffffff;
}

.txt-white-20 {
    font-size: 20px;
    color: #ffffff;
}

.txt-white-22 {
    font-size: 22px;
    color: #ffffff;
}

.txt-white-24 {
    font-size: 24px;
    color: #ffffff;
}

.txt-grey-12 {
    font-size: 12px;
    color: #979797;
}

.txt-grey-14 {
    font-size: 14px;
    color: #979797;
}

.txt-grey-16 {
    font-size: 16px;
    color: #979797;
}

.txt-grey-18 {
    font-size: 18px;
    color: #979797;
}

.txt-grey-20 {
    font-size: 20px;
    color: #ffffff;
}

.txt-grey-22 {
    font-size: 22px;
    color: #979797;
}

.txt-grey-24 {
    font-size: 24px;
    color: #979797;
}

.small-link {
    font-size: 0.9rem;
}

.txt-orange {
    color: #ff8a3d !important;
}

.txt-red {
    color: #E13939 !important;
}

.txt-mint {
    color: #00c4c9 !important;
}